/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');*/

@font-face {
    font-family: 'Bebas Neue', cursive;
    src: url(BebasNeue-Regular.ttf);

}


p {
    font-family: 'Bebas Neue', cursive;

    background-color: blueviolet;
    border: 3px solid burlywood;
    box-sizing: border-box;
    padding: 100px;
    width: 33.3%;
    float: left;
    line-height: 50px;
}