* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#conteiner02 {
    height: 765px;
}

#box-02 {
    display: inline-block;
    text-align: center;
    background-color: darkorange;
    margin: auto;
    height: 100%;
    width: 100%;
}

.catalogo {
    background-image: url(foto04-residencias.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    display: inline-block;
    height: 320px;
    width: 320px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    position: relative;
    top: 30px;
}

@media (max-width:1100px) and (min-width:901px){
    .catalogo {
        height: 270px;
        width: 270px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }

    #conteiner02 {
        height: 665px;
    }
}

@media (max-width:900px) and (min-width:801px){
    .catalogo {
        height: 220px;
        width: 220px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        position: relative;
        top: 60px;
    }

    #conteiner02 {
        height: 615px;
    }

}

@media (max-width:800px) and (min-width:701px){
    .catalogo {
        height: 200px;
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        position: relative;
        top: 75px;
    }

    #conteiner02 {
        height: 615px;
    }
}

@media (max-width:700px) and (min-width:501px){
    .catalogo {
        height: 200px;
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        position: relative;
        top: 20px;
    }

    #conteiner02 {
        height: 730px;
    }
}


@media (max-width:500px) {
    .catalogo {
        height: 180px;
        width: 180px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        top: 10px;
    }

    #conteiner02 {
        height: 650px;
    }  
}

