header {
    height: 70px;
}

#conteiner-header {
    height: 100%;
}

#div-logo {
    height: 100%;
}

#logo {
    font-size: 30px;
}

#navi {
    height: 100%;
}

#menu-icon {
    display: none;
}

#itens {
    display: none;
}

ul {
    height: 100%;
}

#principal {
    height: 88.8%;
}

#conteiner01 {
    background-image: url(img/ft5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#box-01 {
    display: inline-block;
    text-align: center;
    margin: 0;
    max-width: 500px;
}

#box-01 #text-01 {
    text-align: center;
    margin: 0;
    font-size: 24px;
    margin-bottom: 16px;
}

#box-01 #text-h1 {
    text-align: center;
    margin: 0;
    font-size: 64px;
    margin-bottom: 16px;
    line-height: 64px;
}

#box-01 #text-02 {
    margin: 0;
    text-align: center;
    margin-bottom: 64px;
}

#a-btn {
    margin-top: 50px;
    margin: 0;
    padding: 15px 45px;
    background: var(--cor3);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    text-decoration: none;
}

#a-btn:hover {
    background: var(--cor4);
}

.box1 {
    display: flex;
    width: 100%;
    height: 400px;
}

.imagem1 {
    height: 100%;
    width: 100%;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

.box2 {
    display: flex;
    width: 100%;
    height: 700px;
}

.textp2 {
    width: 50%;
}

.textp2 > p {
    display: inline-block;
    padding: 18vh;
    line-height: 2em;
    font-size: 2vw;
}

.imagem2 {
    width: 50%;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

#img01 {
    background-image: url(img/ft6.jpg);
    background-position: center center;
}

#img02 {
    background-image: url(img/ft7.jpg);
    background-position: center center;
}

#a-img {
    background-image: url(img/ft8.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
}

#drin {
    height: 200px;
    width: 100%;
}

#drin-h1 {
    padding-top: 40px;
}

#drin-btn{
    margin: 0;
    padding: 15px 45px;
    background: var(--cor3);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    text-decoration: none;
    position: relative;
    top: 40px;
}

#a-btn12:hover{
    background: var(--cor4);
}

@media (max-width:1100px) {
    .box1 {
        height: 300px;
    }

    .box2 {
        height: 600px;
    }

    .textp2 > p {
        display: inline-block;
        padding: 5vh;
        line-height: 2em;
        font-size: 2.3vw;
    }
}

@media (max-width:800px) {
    .box2 {
        height: 500px;
    }

    .textp2 > p {
        display: inline-block;
        padding: 5vh;
        line-height: 2em;
        font-size: 2.5vw;
    }
}

@media (max-width:600px) {
    .box2 {
        display: inline-block;
        height: 400px;
    }
    
    .textp2 {
        display: block;
        float: left;
        height: 100%;
        width: 100%;
    }

    .textp2 > p {
        text-align: center;
        font-size: 3vw;
    }

    .imagem2 {
        display: block;
        float: right;
        height: 100%;
        width: 100%;
    }

    #drin {
        height: 150px;
        width: 100%;
    }
    
    #drin-h1 {
        padding-top: 20px;
    }
    
    #drin-btn{
        margin: 0;
        padding: 15px 45px;
        background: var(--cor3);
        border-radius: 10px;
        font-weight: 700;
        transition: all 0.5s;
        text-decoration: none;
        position: relative;
        top: 40px;
    }
    
    #drin-btn:hover{
        background: var(--cor4);
    }
}

@media (max-width:500px) {
    #box-01 {
        max-width: 450px;
    }
}

@media (max-width:785px) {

    header {
        height: 70px;
    }
    
    #conteiner-header {
        height: 100%;
    }
    
    #div-logo {
        height: 100%;
    }
    
    #logo {
        padding-left: 10px;
        font-size: 30px;
    }

    #menu-icon {
        display: inline-block;
	    padding: 0 10px;
	    font-size: 27px;
    }

    #esp {
        border-top: 2px solid var(--cor3);
    }
}